<mat-toolbar color="primary">
  <span>CarCredit</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/customers" routerLinkActive="active-link">Clientes</a>
  <a mat-button routerLink="/vehicles" routerLinkActive="active-link">Vehículos</a>
  <a mat-button routerLink="/loans" routerLinkActive="active-link">Préstamos</a>
  <a mat-button routerLink="/installments" routerLinkActive="active-link">Cuotas</a>
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
