<h2 class="dialog-title">Créditos de {{ data.customer.name }} {{ data.customer.lastname }}</h2>

<div class="dialog-content">
  <div class="table-wrap">
    <div class="table__header table--customer-loans">
      <span>Referencia</span>
      <span>Vehículo</span>
      <span>Monto</span>
      <span>Plazo</span>
      <span>Fecha</span>
    </div>
    <div class="table__row table--customer-loans table__row--clickable" *ngFor="let l of data.loans" (click)="viewDetail(l)">
      <span class="table__cell">{{ l.reference }}</span>
      <span class="table__cell">{{ l.vehicleIdentifier }}</span>
      <span class="table__cell">{{ l.amount | copCurrency }}</span>
      <span class="table__cell">{{ getTermMonths(l.installments) }} m.</span>
      <span class="table__cell">{{ l.dateCreation | date:'dd/MM/yyyy' }}</span>
    </div>
  </div>
</div>

<div class="dialog-actions dialog-actions--end">
  <button class="btn btn--text" (click)="close()">Cerrar</button>
</div>
